<!DOCTYPE html>
<html lang="zh-CN">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <meta name="referrer" content="no-referrer"/>
    <title><%= title %></title>
    <link rel="stylesheet" href="/stylesheets/base.css">
    <script src="/javascripts/phone.js"></script>
    <style>
    	::-webkit-input-placeholder {
            color: #C8CACD;
        }

        ::-moz-placeholder {
            /* Mozilla Firefox 19+ */
            color: #C8CACD;
        }

        :-moz-placeholder {
            /* Mozilla Firefox 4 to 18 */
            color: #C8CACD;
        }

        :-ms-input-placeholder {
            /* Internet Explorer 10-11 */
            color: #C8CACD;
        }
        .top {
            margin-top: 14px;
        }
    	.create_tit {
            padding: 0px 25px;
            height: 96px;
            background: #ffffff;
            border-bottom: 1px solid #f7f6f9;
            display: flex;
        	justify-content: space-between;
        }

        .create_tit textarea {
            width: 72%;
            height: 92px;
            line-height: 92px;
            white-space: nowrap;
            overflow: scroll;
            border: none;
            font-size: 29px;
            font-family: "微软雅黑";
        }
        .create_tit input {
            width: 80%;
            height: 92px;
            line-height: 92px;
            border: none;
            font-size: 29px;
            font-family: "微软雅黑";
        }

        .create_num {
            float: right;
            line-height: 96px;
            color: #C8CACD;
            font-size: 32px;
        }
        .category {
        	line-height: 96px;
            font-size: 29px;
            color: #6A6C72;
            flex-grow: 1;
            flex-shrink: 0;
        }
        .addsave{
        	margin: 49px 24px 30px 24px;
        	height: 84px;
        	line-height: 84px;
        	text-align: center;
        	border-radius: 3px;
        	background: #3086DE;
        	font-size: 35px;
        	color: #FFFFFF;
        }
        .adddel{
        	margin: 0px 24px;
        	height: 84px;
        	line-height: 84px;
        	text-align: center;
        	border: 1px solid #C8CACD;
        	border-radius: 3px;
        	background: #FFFFFF;
        	font-size: 35px;
        	color: #2C2C2C;
        }
        /*选择操作*/
        .weui-dialog__bd{
	       	padding:70px 24px 70px 41px;
	       	line-height: 46px;
	       	font-size: 28px;
	       	text-align: left;
	       }
    </style>
</head>
<body>
    <div id="app">
        <div class="page">
            <div class="wrapper">
                <main class="content" v-cloak>
                    <div class="create_tit">
                    	<div class="category">添加分类：</div>
                        <input type="text" placeholder="输入分类名称" v-model="modelName" @input="handleInput" maxlength="10"></input>
                        <div class="create_num"><span id="text-count">{{count}}</span>/10</div>
                    </div>
                    <div class="create_tit top">
                    	<div class="category">分类排序：</div>
                    	<input type="number" v-model="sort" placeholder="序号越小，排列越靠前" />
                    </div>
                    <div class="addsave" @click="submit">保存</div>
                    <div class="adddel" @click="changeDialog">删除</div>
                </main>
            </div>
        </div>
        <!--操作提示-->
        <template v-if="isDialog">
            <div class="js_dialog" >
                <div class="weui-mask"></div>
                <div class="weui-dialog">
                    <div class="weui-dialog__bd">确定要将该分类删除吗，删除后该分类下所有已关联商品将全部取消关联。</div>
                    <div class="weui-dialog__ft">
                        <a href="javascript:" class="weui-dialog__btn weui-dialog__btn_default" @click="changeDialog">取消</a>
                        <a href="javascript:" class="weui-dialog__btn weui-dialog__btn_primary" @click="confirm">确定</a>
                    </div>
                </div>
            </div>
        </template>
    </div>
    
    <script src="/javascripts/vue.min.js"></script>
    <script src="/javascripts/axios.min.js"></script>
    <script src="/javascripts/webcommon.js"></script>
    <script>
        new Vue({
            el: "#app",
            data() {
                return {
                    shopId: `<%- shopId %>`,
                    shelfId: `<%- shelfId %>`,
                    id: `<%- id %>`,
                    modelName: `<%- modelName %>`,
                    sort: `<%- sort %>`,
                    count: 0,
                    status: "",
                    isDialog: false
                }
            },
            created() {
                this.count = this.modelName.length;
            },
            methods: {
                // 打开/关闭选择属性弹窗
				changeDialog() {
					this.isDialog ? this.isDialog = false : this.isDialog = true;
				},
                handleInput(event) {
                    var value = event.target.value;
                    if(value.length > 10) {
                        value.substring(0, 10);
                    }
                    this.count = value.length;
                },
                confirm() {
                    this.status = 0;
                    this.isDialog = false;
                    this.submit();
                },
                submit() {
                    if(this.modelName == "" || this.modelName.length > 10) {
                        return poper("请输入分类名称");
                    }
                    if(this.sort == "") {
                        return poper("请输入序号");
                    }
                    let config = {
                        id: this.id,
                        modelName: this.modelName,
                        sort: this.sort,
                        status: this.status
                    }
                    let opt = {
                        method: "POST",
                        url: "/shop/shopList/editClassify",
                        data: config,
                        headers:{
                            'Content-Type': 'application/json',
                        }
                    }
                    axios(opt).then(res => {
                        if (res.data.errorCode == 0) {
                            window.history.go(-1);
                        }else {
                            return poper(res.data.message);
                        }
                    })
                }
            }
        })
    </script>
</body>
</html>